<style>
    td {
      text-align: center;
      vertical-align: middle;
    }

    /* Center tables for demo */
table {
  margin: 0 auto;
}

/* Default Table Style */
table {
  color: #333;
  background: white;
  border: 1px solid grey;
  font-size: 12pt;
  border-collapse: collapse;
  width:50%;
}
table thead th,
table tfoot th {
  color: #777;
  background: rgba(0,0,0,.1);
}
table caption {
  padding:.5em;
}
table th,
table td {
  padding: .5em;
  border: 1px solid lightgrey;
}
/* Zebra Table Style */
[data-table-theme*=zebra] tbody tr:nth-of-type(odd) {
  background: rgba(0,0,0,.05);
}
[data-table-theme*=zebra][data-table-theme*=dark] tbody tr:nth-of-type(odd) {
  background: rgba(255,255,255,.05);
}
/* Dark Style */
[data-table-theme*=dark] {
  color: #ddd;
  background: #333;
  font-size: 12pt;
  border-collapse: collapse;
}
[data-table-theme*=dark] thead th,
[data-table-theme*=dark] tfoot th {
  color: #aaa;
  background: rgba(0255,255,255,.15);
}
[data-table-theme*=dark] caption {
  padding:.5em;
}
[data-table-theme*=dark] th,
[data-table-theme*=dark] td {
  padding: .5em;
  border: 1px solid grey;
}

a {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
</style>
<body>
    <div th:switch="${exchangeCourses}">
        <h2 th:case="null">No exchange courses yet!</h2>
        <div th:case="*">
            <h2>Exchange Courses</h2>
            <h2 th:text="${courseDate}"></h2>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Typ</th>
                    <th>Buy price</th>
                    <th>Sell price</th>
    <!--                <th>Edit</th>-->
    <!--                <th>Delete</th>-->
                </tr>
                </thead>
                <tbody>
                <tr th:each="exchangeCourse : ${exchangeCourses}">
                    <td th:text="${exchangeCourse.currency.name}"></td>
                    <td th:text="${exchangeCourse.currency.currencyType}"></td>
                    <td th:text="${exchangeCourse.buyPrice}"></td>
                    <td th:text="${exchangeCourse.sellPrice}"></td>
    <!--                <td><a th:href="@{/edit/{id}(id=${user.id})}">Edit</a></td>-->
    <!--                <td><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a></td>-->
                </tr>
                </tbody>
            </table>
        </div>
        <p><a href="/">Menu</a></p>
        <p><a href="/exchangeCourses?refresh=true">refresh</a></p>
        <p><a href="/exchangeCourses/history">history</a></p>
        <input onclick='javascript:window.history.back()' value='Back' type='button' />
    </div>
</body>